<div class="min-h-screen">
  <h1>About Gramps Market</h1>

  <br>
  <div><%= link_to image_tag("gramps_market.png"), root_path%></div>
  <br>
  <p>
  This is just a mock e-commerce application built with Ruby on Rails.
  It was a great exersize to learn the Rails framework.  All products are retrieved using an api from Kroger markets in the US.
  No purchases can be made from this website.  But have fun looking around and filling up your cart!
  </p>

  <br>
  <br>
</div>




