<div class="bg-stone-900 text-white px-6 pt-8 pb-16">


    <h3>Contact</h3>
    <address>
        <p>123 Faker Lane</p>
        <p>Winnipeg, MB  R3R 3R3</p>
        <p>Email: gramps@market.com</p>
        <p>(204) 123-4567</p>
    </address>


</div>
